/*New Fill In Form CSS*/
.dvCDcoverall
{
    position:absolute;
    background-color:#FEFEFE;
    opacity:.8;
    z-index:39;
}
/*Base*/
.dvCDBase, .dvFFBase, .dvFFBaseLeft, .dvFFBaseRight
{
    background-color: white;
    border:solid 4px black;
    margin:0 auto;
}
.dvCDBase
{
    z-index:40;
}
.dvFFBase
{
    clear:both;
}
.dvFFBaseLeft
{
    float:left;
}
.dvFFBaseRight
{
    float:right;
}
/*Title*/
.dvCDTitle, .dvFFTitle
{
    font-weight:bold;
    color: white;
    background-color:#6699CC;
    margin:0;
    padding:4px;
    font-size:1.25em;
}
.dvCDTitle a.toolClose
{
    color:white;
    float:right;
    text-decoration:none;
    font-size:1.5em;
    margin:0;
    padding:0;
    position:relative;
    top:-7px;
    font-family:Century Gothic, sans-serif;
}
/*Content Area*/
.dvCDContentBase, .dvFFContentBase
{
    margin:0;
    padding:0;
}
.dvCDContentBase h2, .dvCDContentBase h3, .dvCDContentBase p, .dvFFContentBase h2, .dvFFContentBase h3, .dvFFContentBase p, .dvCDControlCell h5
{
    margin:0;
    padding:0;
    width:100%;
}
.dvFFContentBase img, .dvCDContentBase img
{
    margin:0;
    padding:0;
    border:0;
}
div.dvCDErr, div.dvFFErr
{
    color:red;
    padding:0;
    font-size:.75em;
}
.dvCDControlCell {
    float: left;
    margin: 5px;
    padding: 0 2px;
}
.dvCDControlCell select
{
    height:21px;
}
.dvCDControlCell input[type="number"]
{
    height:15px;
}
.dvCDControlCell span, .dvCDControlCell div
{
    border-radius:3px;
    background-color:#F0F0F0;
    padding:0 10px 2px 4px;
    margin-top:2px;
}
.dvCDSubHead
{
    color:white;
    background-color:black;
    margin:0;
    padding:2px;
}
.dvCDSubHead a
{
    color:white;
}
.dvCDSubHead a:hover
{
    color: #F0F0F0;
}
.dvCDSubHeadSimpleDialog
{
    color:black;
    background-color:white;
    margin:0 0 2px 0;
    padding:2px;
}
.dvCDBottomButtons
{
    clear:both;
    text-align:center;
    margin:0;
    padding:4px;
    overflow:hidden;
}
.dvCDBottomButtons input[type="button"], .dvCDBottomButtons input[type="submit"]
{
    float:none;
}
/*tool tip*/
h5.fillinshowtip span{
     width:15px;
    height:15px;
    background: url("data:image/gif;base64,R0lGODlhDwAPALMAAP8AAP+Tk//MzP4iI/+9vf/z8/88PP9HR/8HB//W1v4pKf9YWP/Fxf///////wAAACH5BAEHAA4ALAAAAAAPAA8AAARQ0EkZFFBhakcMAiBiEFsAAoNigZnEnEDSJDAjGXXxnoZjwofFAQYIDIgyGuxIFDQERFTzSRz8Tk4oLIPDUnkuWLI2uaZWxU3nExptyhbMJgIAOw==") no-repeat;
    display:inline-block;
    margin-top: -15px;
}
h5.fillinshowtip span:before{
     content: "";
    position:relative;
    border-width: 10px 10px 0 10px;
    border-style: solid solid none solid;
    border-color: #C0C0C0 transparent transparent transparent;
    visibility:hidden;
    top: 0;
    left: -3px;
    z-index:10;
}
h5.fillinshowtip span:after{
    content: attr(tag);
    position:relative;
    color:#4A4A4A;
    top: -39px;
    left: -75px;
    background:white;
    border: 1px solid #C0C0C0;
    padding: 5px 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius:10px;
    white-space: nowrap;
    visibility: hidden;
    font-size:12px;
    z-index:10;
}
h5.fillinshowtip span:hover:before, h5.fillinshowtip span:hover:after{
    visibility: visible;
    -webkit-transition: visibility 0s linear .3s;
    -moz-transition: visibility 0s linear .3s;
    -o-transition: visibility 0s linear .3s;
    transition: visibility 0s linear .3s;
}