html
{
    width:100%;
    font-size:11pt;
}
body
{
    margin:0;
    padding:0;
    font-family:"Segoe UI", Segoe, Tahoma, Arial;
    height:100%;
    width:100%;
    background-color:#FBFBFB;
}
h4, h3, h2, h1
{
    margin:0;
    padding:0;
}
span.message0, span.message1
{
    position:absolute;
    z-index:10;
}
span.message1
{
    padding: 0 7px;
    background:white;
    border-style:solid;
    border-width:1px;
    font-size:0.9em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius:10px;
    white-space: nowrap;
}
/*Disabled Controls*/
input[disabled][type="button"], input[disabled="disabled"][type="button"], input[type="button"].disabled, input[disabled][type="submit"], input[disabled="disabled"][type="submit"], input[type="submit"].disabled, input[disabled][type="text"], input[disabled="disabled"][type="text"], input[type="text"].disabled
{
    color:#B0B0B0;
    background-color:#E0E0E0;
}
/*Standard Contols*/
input[type="button"], input[type="submit" ]
{
    color:black;
    background-color:#F0F0F0;
    border-style: solid inset inset solid;
    border-width: 1px 2px 2px 1px;
    border-color: black #C0C0C0 #C0C0C0 black;
    font-family: "Segoe UI", Segoe, Tahoma, Arial;
    font-size: .9em;
    font-weight: bold;
    height: 25px;
    float:left;
    margin:3px;
}
img
{
    border:0;
    margin:0;
    padding:0;
}
/*Header area*/
#pnMess
{
    color:red;
    font-weight:bold;
    padding:2px 0;
    font-size:1.2em;
}
#divTopMenu
{
    width:100%;
    overflow:hidden;
    margin:2px 0 0 0;
}
/*End Header Area*/
/*Data Area*/
#pnMainTop
{
    padding:0;
}
/*End Data Area*/