html
{
    width:100%;
    font-size:11pt;
}
body
{
    margin:0;
    padding:0;
    font-family:"Segoe UI", Segoe, Tahoma, Arial;
    height:100%;
    width:100%;
    background-color:#FBFBFB;
}
h4, h3, h2, h1
{
    margin:0;
    padding:0;
}
/*Disabled Controls*/
input[disabled][type="button"], input[disabled="disabled"][type="button"], input[type="button"].disabled, input[disabled][type="submit"], input[disabled="disabled"][type="submit"], input[type="submit"].disabled, input[disabled][type="text"], input[disabled="disabled"][type="text"], input[type="text"].disabled
{
    color:#B0B0B0;
    background-color:#E0E0E0;
}
/*Standard Contols*/
input[type="button"], input[type="submit" ]
{
    color:black;
    background-color:#F0F0F0;
    border-style: solid inset inset solid;
    border-width: 1px 2px 2px 1px;
    border-color: black #C0C0C0 #C0C0C0 black;
    font-family: "Segoe UI", Segoe, Tahoma, Arial;
    font-size: .9em;
    font-weight: bold;
    height: 25px;
    float:left;
    margin:3px;
}
img
{
    border:0;
    margin:0;
    padding:0;
}
/*Header area*/
#pnMess
{
    color:red;
    font-weight:bold;
    padding:2px 0;
    font-size:1.2em;
}
#divHeader {
    width: 100%;
    /*border-bottom: 3px solid black;*/
    background-color: white;
    padding-top: 66px;
    background-image: url('../jpg/DDlogo.jpg');
    background-repeat:no-repeat;
}
.mainlogo
{
    float:left;
}
#hh1TitleHeader, .help
{
    position:absolute;
    top:0;
    left:0;
    width:100%;
}
#hh1TitleHeader
{
    text-align:center;
}
.help
{
    text-align:right;
    padding: 2px 0;
}
.help a
{
    margin:0;
    padding:0 5px 0 0;
}
.loginDisplay
{
    position:absolute;
    top:30px;
    left:0;
    width:100%;
    text-align:right;
    padding:2px 0;
    font-size:.75em;
}
#divTopMenu
{
    width:100%;
    overflow:hidden;
    margin:2px 0 0 0;
}
.search
{
    float:right;
    font-weight:bold;
    margin: 0 5px 0 0;
    position:relative;
    top:-5px;
}
.search a
{
    position:relative;
    top:6px;
}
/*End Header Area*/
/*Data Area*/
#pnMainTop
{
    padding:0;
}
/*End Data Area*/